<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>MicroBloog</h1>
        <nav id="tabs">
            <a href="/">Home</a>

            {{#unless loggedIn}}
                <a href="/loginRegister">Login/Register</a>
                <div class="user-info">

                <!--conditional rendering based on variables
                    <img src="{{#if user.avatar_url}}
                            {{user.avatar_url}}
                        {{else}}
                            /avatar/{{user.username}}
                        {{/if}}" 
                            alt="User Avatar" 
                            class="header-avatar">-->
                </div>
            {{else}}
                <a href="/profile">Profile</a>
                <a href="/logout">Logout <span>{{user.username}}</span> </a>
            {{/unless}}
        </nav>
    </header>
        
        {{{body}}}

    <footer>
        <div class="footer">
            <p>© 2024. All rights reserved.</p>
        </div>
    </footer>


<script>
    let tabs = document.getElementById('tabs');
    let logTabs;
    logTabs = '<p>what</p>'
    if(!loggedIn){
        logTabs = '<p>what</p>'
        //logTabs = '<a href="/loginRegister">Login/Register</a>';
    }
    else{
        logTabs = '<a href="/profile">Profile</a>';
        logTabs = '<a href="/logout">Logout <span>{{user.username}}</span> </a>';    
    }
    tabs.insertAdjacentHTML('afterbegin', logTabs);
</script>

</body>
</html>