<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <!-- font awesome for the trashcan icon --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">    
    
    <title>{{{appName}}}</title>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <img class="logoImg" src="/css/cat.png" class="header-logo">
            <h1>{{{appName}}}</h1>
        </div>
        <div class="tabs">
         <nav>
            <a href="/">Home</a>

            {{#if loggedIn}}
                <a href="/profile">Profile</a>
                <a href="/logout">Logout <span>{{user.username}}</span> </a>
                <div class="user-info">

                <!--conditional rendering based on variables
                    <img src="{{#if user.avatar_url}}
                            {{user.avatar_url}}
                        {{else}}
                            /avatar/{{user.username}}
                        {{/if}}" 
                            alt="User Avatar" 
                            class="header-avatar">-->
                </div>
            {{else}}
                <a href="/loginRegister">Login/Register</a>
            {{/if}}
          </nav>
        </div>
    </header>

    {{{body}}}

    <footer>
        <div class="footer">
            <p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>






